.font {
    font-size: medium;
    text-align: left;
    margin-top: 5px;
}

.image-overlay {
    padding: 0; 
    margin: 0;
    background-color: white;
    opacity: 50%;
    padding-top: 10px;
}

.image-size {
    width: 100%;
    height: 70%;
}

.card-body {
    padding: 1rem !important;
}

.card-button {
    font-size: small;
    position:absolute;                  
    bottom:5%;                          
    right:5%;
}
