.Search-bar {
    background-color: #282c34;
    width: 50rem;
}

.form-control {
    background-color: #282c34 !important;
    border-color: white !important;
    color: white !important;
    width: 100% !important;
}

.search-input {
    width: 100%;
}

.form-inline {
    width: 100%;
}

.form-inline > div {
    padding-left: 0;
    padding-right: 1;
}